


@media (max-width: 576px) {
    .todo-form{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.466)
    }
    label{
        font-size: 1.5rem;
        margin-bottom: 2%;
    }
    textarea{
        font-size: 1rem;
        padding: 3%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
    .button-container{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
    .button-cancel{
        font-size: 1.2rem;
        bottom: 10%;
        background-color: rgb(150, 1, 1);
        color: white;
        border: 3px solid rgb(150, 1, 1);
        transition: 0.5s;
        cursor: pointer;

    }
    .button-add{
        font-size: 1.2rem;
        bottom: 10%;
        background-color: #017c05;
        color: white;
        border: 3px solid #017c05;
        transition: 0.5s;
        cursor: pointer;
        margin-left: 1%;
    }
}
@media (min-width: 768px) {
    .todo-form{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10%;
        background-color: rgba(0, 0, 0, 0.466)
    }
    label{
        font-size: 2rem;
        margin-bottom: 2%;
    }
    textarea{
        font-size: 2rem;
        padding: 3%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
    .button-container{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
    .button-cancel{
        font-size: 1.5rem;
        bottom: 10%;
        background-color: rgb(150, 1, 1);
        color: white;
        border: 3px solid rgb(150, 1, 1);
        transition: 0.5s;
        cursor: pointer;

    }
    .button-add{
        font-size: 1.5rem;
        bottom: 10%;
        background-color: #017c05;
        color: white;
        border: 3px solid #017c05;
        transition: 0.5s;
        cursor: pointer;
        margin-left: 1%;
    }
}