
@media (max-width: 576px) {
    .titulo-counter{
        font-size: 1.8rem;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .titulo-counter{
        font-size: 2rem;
        text-align: right;
    }
}