.fecha-bloque{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fecha{
    font-size: 4rem;
    color: #4CAF50;
}
.mes-fecha{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.dia{
    margin-left: auto;
    font-size: 3rem;
}